*{
    margin: 0;
    padding: 0;
    //box-sizing: border-box;

    font-size: medium;

    @include media-breakpoint-up(md){
        font-size: large;
    }


}


body{
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5;
    background: #f5f5f5;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.3rem;
}





