$white-text-color: #e7e7e7;
$standard-box-shadow: 10px 10px 10px grey;

.enable-animation{
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.border-rounded{
    border: 4px solid #fff;
    border-radius: 50%;
}
