.full-size-container{
    height: 100vh;
}

[id="titleContainer"]{
    position: relative;
    top: 50vh;
    color: $white-text-color;

    @include media-breakpoint-down(xs){
        top: 12vh;
        text-align: center;
    }

    .social-links{
        h2{
            font-family: 'Pacifico', cursive;
            font-size: 1.5rem;
        }

        margin-top: 5rem;

        
        a:first-of-type{
            padding-left: 0;
            margin-left: 0;
        }
        

        a{
            display: inline-block;
            padding: 1rem 1rem;
            margin: 0 0.5rem;

            @include media-breakpoint-up(lg){
                margin: 0 1rem;
            }
        }

        i{
            font-size: 3rem;
            color: $white-text-color;
        }
    }
}

.language-flag{
    position: absolute;
    left: 200px;
    border: 2px solid white;
}


[id="about"]{
    border-top: 2px solid $dark-background-color;
    position: relative;

    &::before{
        position: absolute;
        top: 0;
        right: 7%;
        content: '';
        width: 40px;
        height: 80px;
        // background: linear-gradient(to bottom, $dark-background-color 70%, transparent 113%);
        background-color: $dark-background-color;
        box-shadow: 3px 3px 5px grey;
    }
}

[id="vita"]{
    position: relative;
    
    li{
        font-size: 1.3rem;
        margin-top: 1.5rem;

        p{
            font-size: 1.1rem;
        }
    }

    dl{
        dt{
            font-size: 1.3rem;
        }
        dd{
            font-style: italic;
        }
    }

    &::before{
        position: absolute;
        top: 17px;
        left: -22px;
        bottom: 5px;
        width: 3px;
        background: #555;
        content: '';
        z-index: -1;
    }
}

