nav{
    &.bg-dark{
        background-color: rgba(38,42,46,0.85) !important;
    }

    &.navbar {
        text-transform: uppercase !important;
        font-weight: 700;
        letter-spacing: .1rem;
        padding: 0.25rem 1rem;
    }

    .navbar-brand img{
        height: 1.5rem;
    }

    &.navbar-dark{
        .navbar-nav{
            .nav-item{
                padding-left: .8rem;

                .nav-link{
                    font-size: 0.9rem;
                }

                .nav-link.active, .nav-link:hover{
                        color: $white-text-color;
                }
            }
           
        }
    }

}